body {
  margin: 0;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Noto", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg_style {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(./img/avatar01.gif);
  background-position: center top;
  background-size: cover;
}
#root {
  width: 70em;
  height: 50em;
  margin: 4em auto;
  padding: 0em 2em 3em 1em; /**順時針 -> 上  右  下  左*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  /*z-index: 1;*/ /** 此處為1會導致彈窗無法點擊按鈕，推測可能和mdui設計時的各個組件海拔有關*/
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(20px);
  background-attachment: fixed;
  background-image: url(./img/avatar01.gif);
  background-position: center top;
  background-size: cover;
  z-index: -1;
}